nav {
    margin: 27px auto 0;  
    position: relative;
    width: 620px;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
  }
  nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
  }
  a:nth-child(1) {
    width: 150px;
  }
  a:nth-child(2) {
    width: 220px;
  }
  a:nth-child(3) {
    width: 250px;
  }
  
  
  nav .start-hakkimda, a:nth-child(1):hover~.animation {
    width: 150px;
    left: 0;
    background-color: #1abc9c;
  }
  nav .start-bjproje, a:nth-child(2):hover~.animation {
    width: 220px;
    left: 150px;
    background-color: #e74c3c;
  }
  nav .start-yjproje, a:nth-child(3):hover~.animation {
    width: 250px;
    left: 370px;
    background-color: #3498db;
  }
  
 
  
  body {
    font-size: 12px;
    font-family: sans-serif;
    background: #2c3e50;
  }
  h1 {
    text-align: center;
    margin: 30px 0 20px;
    text-align: center;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
  }

  h2{
    text-align:left;
    margin: 40px 0 20px 100px;
    font-size: 24px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
  }

  h3{
    text-align:left;
    margin: 10px 0 0 100px;
    font-size: 16px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
  }
  
  #oz {
    margin: 20px auto 0;
    display: flex;

  }
  #oz img {
    width: 250px;
    height: 300px;
    border-radius: 30px;
    margin-left: 80px;
    margin-right: 60px; 
    border-color: black;
    border-style: dotted;
    border-width: 3px;
  }
  #oz p {
    margin-right: 240px;
    margin-top: 25px;
    text-align: center;
    font-size: 15px;
    color: #ecf0f1;
    font-family: 'Cherry Swash', cursive;
    line-height: 1.8;
  }

  ul{
    list-style-type: none;
    
  }
  li{
    display:inline;
    font-size: 16px;
    color: #ecf0f1;
  }

  #tarih {
    text-align: right;
    margin-right: 100px; ;
  }
  

  #deneyim .acik {
    
    margin: 4px 350px 40px 150px;
    font-size: 15px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
    line-height: 1.5;
  }
  #Egitim .acik {
    
    margin: 4px 350px 40px 150px;
    font-size: 15px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
    line-height: 1.5;
  }

  #Egitim  a{
    color: #ecf0f1;
    font-family: 'Cherry Swash', cursive;
  }
  #Egitim a :hover {
    font-family: 'Cherry Swash', cursive;
    background-color: #ecf0f1;
    color: #000000;
  }

#kurs table td {
  padding: 20px;
  font-size: 15px;
  color: #ecf0f1;
  line-height: 1.5;
}

#kurs table td img {
  border-radius: 10px;
  width: 90px;
}

#kurs table th{
  padding-top: px;
  font-size: 15px;
  color: #ecf0f1;
  line-height: 1.5;
  text-align: center;
}
#kurs tr td a{  
  color: #ecf0f1;
  font-family: 'Cherry Swash', cursive;
}
#kurs tr td a:hover{  
  font-family: 'Cherry Swash', cursive;
  background-color: #ecf0f1;
  color: #000000;
}

#bec th{
  padding-top: px;
  font-size: 15px;
  color: #ecf0f1;
  line-height: 1.5;
  text-align: center;
}
#bec table td{
  padding: 20px;
  font-size: 15px;
  color: #ecf0f1;
  line-height: 1.5;
}
#ucbas {
  display: flex;
  padding: 25px;
  text-align: center;
  position: relative;
  margin: auto;
}
#ucbas table{
 margin: 20px;
}


#ucbas img {
  border-width: 2px;
    
  background-color:#1abc9c;
  border-radius: 10px;
  width: 40px;
}

#ucbas table td{
  font-size: 15px;
  color: #ecf0f1;
  line-height: 1.5;
}
#ucbas table th{
  
  font-size: 15px;
  color: #ecf0f1;
  line-height: 1.5;
  text-align: center;
}
#ucbas tr td a{  
  color: #ecf0f1;
  font-family: 'Cherry Swash', cursive;
}


@media screen and (max-width:880px) {
  nav {
    margin: 27px auto 0;  
    position: relative;
    width: 320px;
    height: 20px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
  }
  nav a {
    line-height: 20px;
    height: 100%;
    font-size: 8px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
  }
  a:nth-child(1) {
    width: 70px;
  }
  a:nth-child(2) {
    width: 110px;
  }
  a:nth-child(3) {
    width: 140px;
  }
  
  
  nav .start-hakkimda, a:nth-child(1):hover~.animation {
    width: 70px;
    left: 0;
    background-color: #1abc9c;
  }
  nav .start-bjproje, a:nth-child(2):hover~.animation {
    width: 110px;
    left: 70px;
    background-color: #e74c3c;
  }
  nav .start-yjproje, a:nth-child(3):hover~.animation {
    width: 140px;
    left: 180px;
    background-color: #3498db;
  }


  h1 {
    text-align:left;
    margin: auto;
    
    font-size: 20px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Times New Roman', Times, serif
  }

  h2{
    text-align:left;
    margin: auto;
    font-size: 14px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Times New Roman', Times, serif;
  }

  h3{
    text-align:left;
    margin: auto;
    font-size: 12px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Times New Roman', Times, serif;
  }

  #tarih {
    text-align: right;
    margin: auto;
    
  }

  ul{
    list-style-type: none;
    
  }
  li{
    display:inline;
    font-size: 10px;
    color: #ecf0f1;
    
  }

  #oz img {
    width: 100px;
    height: 120px;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 10px; 
    margin-top: 60px;
    border-color: black;
    border-style: dotted;
    border-width: 3px;
  }

  #oz p {
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    color: #ecf0f1;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.2;
  }

  #deneyim .acik {
    
    margin:auto;
    font-size: 10px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family:  'Times New Roman', Times, serif;
    line-height: 1.2;
  }
  #Egitim .acik {
    
    margin: auto;
    font-size: 10px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.2;
  }
  #kurs table td {
    padding: 2px;
    font-size: 8px;
    color: #ecf0f1;
    line-height: 1.2;
  }
  
  #kurs table td img {
    border-radius: 10px;
    width: 20px;
  }
  
  #kurs table th{
    font-size: 10px;
    color: #ecf0f1;
    line-height: 1.2;
    text-align: center;
  }

  #bec th{
    font-size: 10px;
    color: #ecf0f1;
    line-height: 1.2;
    text-align: center;
  }
  #bec table td{
    padding: 8px;
    font-size: 10px;
    color: #ecf0f1;
    line-height: 1.5;
  }
  #ucbas {
    display:block;
    padding: 5px;
    text-align: center;
    position: relative;
    margin: auto;
  }
  #ucbas table{
   margin: auto;
   margin-top: 10px;
  }
  
  
  #ucbas img {
    border-width: 2px;
    background-color:#1abc9c;
    border-radius: 10px;
    width: 20px;
  }
  
  #ucbas table td{
    font-size: 12px;
    color: #ecf0f1;
    line-height: 1.2;
  }
  #ucbas table th{
    
    font-size: 14px;
    color: #ecf0f1;
    line-height: 1.2;
    text-align: center;
  }
  #ucbas tr td a{  
    color: #ecf0f1;
    font-family: 'Times New Roman', Times, serif;
  }
}